# Copia este archivo como .env y ajusta los valores para tu máquina (yo no tengo postgreSQL instalado por eso mi variante es con sqllite)
.

DJANGO_SECRET_KEY=mi-clave-secreta-para-djangolol-para-the-weekend-store
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (T02/T03)
POSTGRES_DB=the_weekend_store
POSTGRES_USER=weekend_store_user
POSTGRES_PASSWORD=weekend_store_pass
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Correo (S04 - por ahora backend de consola en desarrollo)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
